.main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 4rem;
}

.greet-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 5rem;
}

.greeting-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.greeting-main > * {
  flex: 1;
  margin-bottom: 30px;
}

.button-greeting-div {
  display: flex;
  margin-top: 20px;
}

.greeting-text {
  margin-top: 80px;
  font-size: 70px;
  line-height: 1.1;
  font-family: "Google Sans Bold";
}

.greeting-nickname {
  font-size: 30px;
  line-height: 0px;
  font-family: "Google Sans Bold Italic";
}

.greeting-text-p {
  font-size: 40px;
  line-height: 40px;
  margin-right: 40px;
  font-family: "Google Sans Medium";
}

.greeting-image-div {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.greeting-image {
  max-width: 85%;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.greeting-image:hover {
  transform: scale(1.02);
}

/* Responsividade */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
  }
  .greeting-text-p {
    font-size: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .greeting-main {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .greeting-text {
    font-size: 30px;
    margin-top: 0px;
  }

  .greeting-nickname {
    font-size: 25px;
  }

  .greeting-text-p {
    font-size: 16px;
    margin-right: 0px;
    line-height: normal;
  }

  .greeting-image {
    max-width: 300px;
    margin-top: 20px;
  }

  .button-greeting-div {
    justify-content: space-around;
  }

  .portfolio-repo-btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
